<div class="w-full min-h[100vh] bg-indigo500 flex flex-col items-center">
  <h3 class=" font-bold text-xl bg-sky-100">Pancho Macias Noob Blog</h3>
  <p class="text-md mb-6">"Another blog web app, for personal use"</p>
</div>

<%= render 'post_with_comments' %>
